[Desktop Entry]
Icon=unknown
Name=https://github.com/TeamTwisted/platform_frameworks_base
Type=Link
URL[$e]=https://github.com/TeamTwisted/platform_frameworks_base
